main{
    font-size: 1rem;
}

.heading2{
    padding: 1rem;
    transition: all 0.2s;
    margin: 0;
}

.heading2:hover{
    background-color: black;
    color: white;
}

h1{
    display: inline-block;
}
.layoutHeading{
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.layoutHeadingbtn{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: rgb(73, 160, 235);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}